    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <i class="fa fa-pencil-square-o"></i>
        Camera Monitoring Log
      </h1>
      <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a ui-sref="cameraMonitoringLog"><i class="fa fa-pencil-square-o"></i> Camera Monitoring Log</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
		<div class="box-body">
			<div class="row" ng-if="cameraLogCtrl.deployments">
				<div class="col-sm-3">
					<div class="form-group">
						<label>Select Deployment Location</label>
						<ui-select id="deploymentsSelect" autofocus="true" ng-model="cameraLogCtrl.selectedDeployment" 
	                			theme="bootstrap" ng-disabled="disabled"
	                			on-select="cameraLogCtrl.onSelectDeploymentCallback($item, $model)" >
		                  <ui-select-match placeholder="Select one...">{{$select.selected.studyArea.name}}: {{$select.selected.locationID}}</ui-select-match>
		                  <ui-select-choices repeat="deployment in cameraLogCtrl.deployments | propsFilter: {studyAreaName: $select.search, locationID: $select.search}">
		                    <div ng-bind-html="deployment.studyArea.name | highlight: $select.search"></div>
		                    <small>
		                      Location ID: <span ng-bind-html="''+deployment.locationID | highlight: $select.search"></span>
		                    </small>
		                  </ui-select-choices>
		                </ui-select>
		            </div>
				</div>
				<div class="col-sm-2" ng-show="cameraLogCtrl.logEntries.length > 0">
					<div class="form-group">
						<label>Select Existing Log Entry</label>
						<ui-select id="logSelect" autofocus="true" ng-model="cameraLogCtrl.selectedLogEntry" 
	                			theme="bootstrap" ng-disabled="disabled"
	                			on-select="cameraLogCtrl.onSelectLogEntryCallback($item, $model)" >
		                  <ui-select-match placeholder="Select one...">{{$select.selected.studyArea.name}}: {{$select.selected.locationID}}</ui-select-match>
		                  <ui-select-choices repeat="logEntry in cameraLogCtrl.logEntries | propsFilter: {checkDate: $select.search}">
		                    <div ng-bind-html="logEntry.checkDate | highlight: $select.search"></div>
		                    <small>
		                      Check Date: {{logEntry.checkDate}}
		                    </small>
		                  </ui-select-choices>
		                </ui-select>
		            </div>
		        </div>
				<div class="col-sm-2">
					<div class="form-group">
						<label>{{cameraLogCtrl.logEntries.length > 0 ? 'OR' : ''}}</label>
		                <button class="btn btn-primary form-control" ng-click="cameraLogCtrl.add()"><i class="fa fa-plus-square-o"></i> Add New Log Entry</button>
		            </div>
		        </div>
			</div>
		</div>
	</div>
	<div class="box" ng-if="cameraLogCtrl.selectedLogEntry">
		<div class="box-body">
            <div class="alert alert-success alert-dismissible" ng-show="cameraLogCtrl.successText">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Success!</h4>
                {{cameraLogCtrl.successText}}
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h3 class="box-header with-border" style="margin-top: 0px;">Monitoring Details</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<label>Check Date and Time</label>
						<p class="input-group">
				          <input type="text" 
				          		 class="form-control" 
				          		 uib-datepicker-popup="MM/dd/yyyy" 
				          		 ng-model="cameraLogCtrl.selectedLogEntry.checkDate" 
				          		 is-open="cameraLogCtrl.checkDatePopup.opened" 
				          		 datepicker-options="cameraLogCtrl.dateOptions" 
				          		 ng-change="cameraLogCtrl.checkDateChange()"
				          		 ng-required="false" 
				          		 close-text="Close" />
				          <span class="input-group-btn">
				            <button type="button" class="btn btn-default" ng-click="cameraLogCtrl.checkDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
				          </span>
				        </p>
		            </div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>Set Letter</label>
						<input type="text" name="setLetter" ng-model="cameraLogCtrl.selectedLogEntry.setLetter" 
						       style="width: 100%" class="form-control" ng-trim="false"/>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label>Camera ID</label>
						<input type="text" name="cameraId" ng-model="cameraLogCtrl.selectedLogEntry.cameraId" 
						       style="width: 100%" class="form-control" ng-trim="false"/>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>
							New <br/>Camera ID<br/>
							<input type="checkbox" name="newCameraId" ng-model="cameraLogCtrl.selectedLogEntry.newCameraId">
						</label>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Researcher Names</label>
						<input type="text" name="researcherNames" ng-model="cameraLogCtrl.selectedLogEntry.researcherNames" 
						       style="width: 100%" class="form-control" ng-trim="false"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<p class="input-group">
							<uib-timepicker ng-model="cameraLogCtrl.selectedLogEntry.checkDate" ng-change="cameraLogCtrl.checkTimeChanged()" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
						</p>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group" style="margin-top: 0px;">
						<label>No. of Pics</label>
						<input type="number" class="form-control" name="numPics" ng-model="cameraLogCtrl.selectedLogEntry.numPics" min="0" max="99" required>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group" style="margin-top: 0px;">
						<label>No. of Videos</label>
						<input type="number" class="form-control" name="numVideos" ng-model="cameraLogCtrl.selectedLogEntry.numVideos" min="0" max="99" required>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group" style="margin-top: 0px;">
						<label>
							New <br/>Batteries<br/>
							<input type="checkbox" name="newBatteries" ng-model="cameraLogCtrl.selectedLogEntry.newBatteries">
						</label>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>New <br/>Card<br/>
							<input type="checkbox" name="newCard" ng-model="cameraLogCtrl.selectedLogEntry.newCard"/>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h3 class="box-header with-border" style="margin-top: 0px;">Camera Settings</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<label>Camera Date/Time Correct
							<input type="checkbox" name="cameraDateTimeCorrect" ng-model="cameraLogCtrl.selectedLogEntry.cameraDateTimeCorrect"/>
						</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label>Delay</label>
						<input type="text" name="cameraDelaySetting" ng-model="cameraLogCtrl.selectedLogEntry.cameraDelaySetting"/>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label>No. of Pics per Burst</label>
						<input type="number" class="form-control" name="numPicsPerBurst" ng-model="cameraLogCtrl.selectedLogEntry.numPicsPerBurst" min="0" max="99" required>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label>Video Length</label>
						<input type="text" name="videoLength" ng-model="cameraLogCtrl.selectedLogEntry.videoLength"/>
					</div>
				</div>
			</div>
		</div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->