<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" ng-app="CCC">
<head>
    <base href="/ccc/"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Communities, Cameras, and Conservation Database</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

    <link rel="icon" type="image/png" href="/ccc/img/ccc-logo-32.png"/>

    <link rel="stylesheet" href="/ccc/css/lib.css"/>
    <link rel="stylesheet" href="/ccc/css/ccc.css"/>

  <!-- ui-select resources -->
  <!-- Select2 theme -->
  <link rel="stylesheet" href="/ccc/css/select2.css"/>
  <link rel="stylesheet" href="/ccc/css/selectize.default.css"/>

</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
      <a href="/ccc/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>CCC</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>CCC</b> Database</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li ng-controller="UserNotificationsController as userCtrl"
                ng-include="'app/users/userNotifications.html'"
                ng-show="isAdmin"
                class="dropdown messages-menu">
            </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x" style="color:white"></i>
                <strong class="fa-stack-1x calendar-text" style="color:#605ca8">
                  <span sec:authentication="principal.user.initials"></span>
                </strong>
              </span>
			  <!--<img src="/ccc/img/ccc-user-160x160.jpg" class="user-image" alt="User Image"/>-->
			  <span class="hidden-xs" sec:authentication="name"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x" style="color:white"></i>
                  <strong class="fa-stack-1x calendar-text" style="color:#605ca8">
                    <span sec:authentication="principal.user.initials"></span>
                  </strong>
                </span>
                <!--<img src="/ccc/img/ccc-user-160x160.jpg" class="img-circle" alt="User Image"/>-->
                <p>
                  <span class="hidden-xs" sec:authentication="name"></span>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a ui-sref="userProfile" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
					<form th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" class="btn btn-default btn-flat"/>
					</form>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x" style="color:white"></i>
            <strong class="fa-stack-1x calendar-text">
              <span sec:authentication="principal.user.initials"></span>
            </strong>
          </span>
          <!--<img src="/ccc/img/ccc-user-160x160.jpg" class="img-circle" alt="User Image"/>-->
        </div>
        <div class="pull-left info">
          <p>Roles:<span sec:authentication="principal.authorities"></span></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">Actions</li>
        <li ui-sref-active="active"><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> <span>View Dashboard</span></a></li>
        <li ui-sref-active="active"><a ui-sref="importPhotos"><i class="fa fa-upload"></i> <span>Import Photos</span></a></li>
        <li ui-sref-active="active"><a ui-sref="viewPhotos"><i class="fa fa-eye"></i> <span>View Photos</span></a></li>
        <li ui-sref-active="active"><a ui-sref="idPhotos"><i class="fa fa-tags"></i> <span>ID Photos</span></a></li>
        <li ui-sref-active="active"><a ui-sref="cameraMonitoringLog"><i class="fa fa-pencil-square-o"></i> <span>Camera Monitoring Log</span></a></li>
        <li class="treeview active">
          <a href="#">
            <i class="fa fa-gears"></i>
            <span>Initial Setup</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu menu-open" style="display: block;">
          	<li ui-sref-active="active"><a ui-sref="studyAreas"><i class="fa fa-location-arrow"></i> <span>Study Area List</span></a></li>
          	<li ui-sref-active="active"><a ui-sref="deployments"><i class="fa fa-camera"></i> <span>Camera Deployments</span></a></li>
        	<li ui-sref-active="active"><a ui-sref="species"><i class="fa fa-list"></i> <span>Species List</span></a></li>
        	<li ui-sref-active="active"><a ui-sref="detectionDetails"><i class="fa fa-list-alt"></i> <span>Detection Details List</span></a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  	<div ui-view=""></div>
  </div>
  <!-- /.content-wrapper -->
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="http://www.catconservancy.org/">Rocky Mountain Cat Conservancy</a>.</strong> All rights
    reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!--<script src="http://maps.google.com/maps/api/js?key=AIzaSyBK2HK4jkNN7dOQSJzK81qEMNkcq233D0A"></script>
<script src="http://maps.google.com/maps/api/js"></script>-->
<script src="/ccc/js/lib.js"></script>
<script src="/ccc/js/ccc.js"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="/ccc/js/raphael-min.js"></script>
<script src="/ccc/js/moment.min.js"></script>
</body>
</html>