<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/ccc/"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Communities, Cameras, and Conservation Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/png" href="/ccc/img/ccc-logo-32.png"/>
    
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/> -->

    <link rel="stylesheet" href="/ccc/css/lib.css"/>
    <link rel="stylesheet" href="/ccc/css/ccc.css"/>
</head>
<body class="hold-transition login-page">
<header>
    <nav class="frame" role="navigation">
        <div class="container-fluid">
            <a href="http://www.catconservancy.org/" class="brand">
            	RMCC Communities, Cameras, and Conservation Database
            </a>
        </div><!-- /.container -->
    </nav><!--/.navbar-->
</header>
<div class="login-box">
  <div class="login-logo">
	<img src="/ccc/img/ccc-full-logo-alt2.png" style="width:100%"/>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <div id="registerFail" class="alert alert-danger alert-dismissible" th:unless="${param.error == null}">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="icon fa fa-ban"></i> Failure!</h4>
      <span id="failureMsg">The email or password you have entered is invalid, try again.</span>
    </div>

    <form name="form" th:action="@{/login}" action="/login" method="POST">
      <div class="form-group has-feedback">
		<input type="text" name="email" class="form-control" placeholder="Email Address" />
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
		<input type="password" class="form-control" name="password" placeholder="Password" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="#">I forgot my password</a><br/>
    <a href="register" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<script src="/ccc/js/lib.js"></script>
<!-- <script src="/ccc/js/ccc.js"></script> -->
</body>
</html>