    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <i class="fa fa-tags"></i>
        ID Photos
      </h1>
      <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a ui-sref="idPhotos"><i class="fa fa-tags"></i> ID Photos</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" id="idPhotos">

      <!-- Default box -->
      <div class="box" ng-class="{'box-fullscreen' : idPhotosCtrl.fullscreen}">
        <div class="box-header with-border">
          	<h3 class="box-title">ID Photos</h3>
	        <div class="pull-right">
				<button type="button" class="btn btn-box-tool pull-right" style="margin-left:50px;"
						ng-click="idPhotosCtrl.fullscreen = !idPhotosCtrl.fullscreen" title="Expand">
					<i class="glyphicon"
					   ng-class="idPhotosCtrl.fullscreen ? 'glyphicon-resize-small' : 'glyphicon-resize-full'"></i>
				</button>
				<button class="btn btn-danger pull-right" style="margin-left:10px;" mwl-confirm data-title="Confirm"
						message="Are you <b>sure</b> you want to delete the selected photo?"
						placement="top" on-confirm="idPhotosCtrl.deleteSelectedPhoto()" confirm-button-type="danger"
						cancel-button-type="default"
						ng-show="idPhotosCtrl.photos.length">
					<i class="fa fa-trash-o"></i> Delete Selected
				</button>
	        	<button class="btn btn-default pull-right" 
	        			ng-click="idPhotosCtrl.archiveTaggedPhotos()" 
	        			ng-show="idPhotosCtrl.photos.length">
	        		<i class="fa fa-archive"></i> Archive Tagged
	        	</button>
          	</div>	
        </div>
        <div class="box-body">
        	<div class="col-md-12" ng-show="idPhotosCtrl.photos.length">
	            <!-- thumb navigation carousel -->
	            <div class="col-md-12 hidden-sm hidden-xs" id="slider-thumbs">
	              <!-- thumb navigation carousel items -->
	              <ul class="list-inline">
	                <li ng-repeat="photo in idPhotosCtrl.photos" 
	                	ng-class="{'selected': photo.selected, 'tagged' : photo.detections[0].hasOwnProperty('id')}"
	                	style="position:relative">
	                  <a id="carousel-selector-{{$index}}" ng-click="idPhotosCtrl.selectThumb($index)">
                          <img src="/ccc/api/dpbx/thumb?path={{photo.metadata.pathLower}}"
                               class="img-responsive">
	                  </a>
	                  <i class="fa fa-tag" 
	                  	 style="position:absolute; right: 5px; bottom:5px; color:#00a65a; font-size:1.5em"
	                  	 ng-show="photo.detections[0].hasOwnProperty('id')"></i>
	                  <i class="fa fa-star" 
	                  	 style="position:absolute; left: 5px; bottom:5px; color:#f39c12; font-size:1.5em"
	                  	 ng-show="photo.highlight"></i>
	                </li>
	              </ul>
	
	            </div>
	            <!--/ thumb navigation carousel -->
		    </div>
			<div class="col-md-2">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Location Folders</h3>
					</div>
					<div class="box-body">
						<spinner name="folderSpinner" show="true" img-src="/ccc/img/loading.gif"></spinner>
						<div style="max-height:250px; overflow-y:auto; padding-left:10px;">
							<div ng-repeat="folder in idPhotosCtrl.treeData"
								 style="padding-left: 5px; padding-bottom:2px">
								<a ng-click="idPhotosCtrl.selectFolder(folder)">
									<i class="fa fa-folder-o"></i> {{folder.text}}
								</a>
							</div>
						</div>
						<span ng-show="idPhotosCtrl.breadCrumbList.length > 0 && idPhotosCtrl.treeData.length === 0">
							<a ng-click="idPhotosCtrl.selectFolder(idPhotosCtrl.breadCrumbList[idPhotosCtrl.breadCrumbList.length -2])">
								<i class="fa fa-folder-open"></i>
								Parent Folder
							</a>
						</span>
					</div>
					<!-- end loading -->
				</div>
			</div>
            <div class="col-md-7">	
           	  <div class="box box-info">
	            <div class="box-header">
	              <h3 class="box-title" ng-show="idPhotosCtrl.breadCrumbList.length">
	              	Selected Folder
		          	  <div style="padding:10px 5px; font-size:.75em">
					    <span ng-repeat="link in idPhotosCtrl.breadCrumbList">
					      <span ng-show="$index > 0">
							<a ng-click="idPhotosCtrl.selectFolder(link)">
								{{link.text}}
							</a>
							<span ng-show="!$last">></span>
						  </span>
						</span>
					  </div>
				  </h3>
	              <div class="pull-right" ng-show="idPhotosCtrl.selectedPhoto.hasOwnProperty('id')">			              		
					Highlight Photo 
					<button class="btn btn-primary" ng-click="idPhotosCtrl.highlightSelectedPhoto()">
						<i class="fa fa-star" style="color:{{idPhotosCtrl.selectedPhoto.highlight ? '#f39c12' : 'gray'}}; font-size: 1.5em"></i>
					</button>
				  </div>
	            </div>
	            <div class="box-body">
				  <div ng-show="!idPhotosCtrl.photos.length">
				  	<div class="alert alert-warning alert-dismissible">
		                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
		                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
						<span ng-hide="idPhotosCtrl.selectedFolder.path">
							Start by selecting a Location Folder.
						</span>
						<span ng-show="idPhotosCtrl.selectedFolder.path">
							No photos found for the selected Location Folder.
						</span>
		            </div>
				  </div>
				  <div ng-show="idPhotosCtrl.photoQueryError">
				  	<div class="alert alert-danger alert-dismissible">
		                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
		                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
		                {{idPhotosCtrl.photoQueryError}}
						<div class="row" ng-show="idPhotosCtrl.photoQueryError.indexOf('LocationID') === -1">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Associate folder with Study Area</label>
									<ui-select id="studyAreasSelect" autofocus="false" ng-model="idPhotosCtrl.selectedStudyArea"
											   theme="bootstrap" style="width: 100%" >
										<ui-select-match placeholder="Select a Study Area">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="sa in idPhotosCtrl.studyAreas | propsFilter: {name: $select.search}">
											<div ng-bind-html="sa.name | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="form-group">
									<button class="btn btn-primary"
											style="margin: 25px -20px 0px;"
											ng-click="idPhotosCtrl.saveSelectedStudyArea()"><i class="fa fa-save"></i>
									</button>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="form-group">
									<label>OR</label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<button class="btn btn-primary"
											style="margin: 25px -20px 0px;"
											ui-sref="studyAreas">Add New Study Area
									</button>
								</div>
							</div>
						</div>
						<div class="row" ng-show="idPhotosCtrl.photoQueryError.indexOf('LocationID') > -1">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Associate folder with Deployment Location</label>
									<ui-select id="deploymentsSelect" autofocus="true" ng-model="idPhotosCtrl.selectedDeployment"
											   theme="bootstrap">
										<ui-select-match placeholder="Select one...">{{$select.selected.studyArea.name}}: {{$select.selected.locationID}}</ui-select-match>
										<ui-select-choices repeat="deployment in idPhotosCtrl.deployments | propsFilter: {studyAreaName: $select.search, locationID: $select.search}">
											<div ng-bind-html="deployment.studyArea.name | highlight: $select.search"></div>
											<small>
												Location ID: <span ng-bind-html="''+deployment.locationID | highlight: $select.search"></span>
											</small>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<button class="btn btn-primary"
											style="margin: 25px -20px 0px;"
											ng-click="idPhotosCtrl.saveSelectedDeployment()"><i class="fa fa-save"></i></button>
								</div>
							</div>
						</div>
		            </div>
				  </div>
				  <div ng-show="idPhotosCtrl.photos.length">
		            <!-- main slider carousel -->
		            <div class="row">
		              <div class="col-md-12" id="slider">
		
		                <div class="col-md-12" id="carousel-bounding-box">
		                  <div id="myCarousel" class="carousel slide" data-interval="false">
		                    <!-- main slider carousel items -->
		                    <div class="carousel-inner">
		                      <div ng-repeat="photo in idPhotosCtrl.photos" 
		                           ng-class="idPhotosCtrl.thumbClass(photo)" 
		                           class="item" 
		                           data-slide-number="{{$index}}">
                                  <img src="/ccc/api/dpbx/image?path={{photo.metadata.pathLower}}"
                                       class="img-responsive">
		                        <h2>
		                        	<span ng-repeat="detection in idPhotosCtrl.selectedPhoto.detections">
		                        		{{detection.species.commonName}} <i class="small" style="color:white">({{detection.species.latinName}})</i> - {{detection.detectionDetail.detailText}} &nbsp;&nbsp;<br/>
									</span>
								</h2>
		                      </div>
		                    </div>
		                    <!-- main slider carousel nav controls -->
		                    <a class="carousel-control left" href="#myCarousel" data-slide="prev" ng-non-bindable>‹</a>
		                    <a class="carousel-control right" href="#myCarousel" data-slide="next" ng-non-bindable>›</a>
		                  </div>
		                </div>
		
		              </div>
		            </div>
		            <!--/main slider carousel-->
		          </div>
		        </div>
			  </div>
			</div>
            <div class="col-md-3">
           	  <div class="box box-info">
	            <div class="box-header">
					<h3 class="box-title">Detections</h3>
	            </div>
	            <div class="box-body">
					<spinner name="savingSpinner" show="true" img-src="/ccc/img/loading_sm.gif">Saving...</spinner>
                    <button class="btn btn-default pull-right" style="margin:-10px -10px 10px 0px" tabindex="0"
                            ng-click="idPhotosCtrl.usePreviousDetections()"
                            ng-show="idPhotosCtrl.previousDetections.length && idPhotosCtrl.previousDetections !== idPhotosCtrl.selectedPhoto.detections"
                            ng-focus="idPhotosCtrl.showPreviousDetections = true"
                            ng-mouseover="idPhotosCtrl.showPreviousDetections = true"
                            ng-blur="idPhotosCtrl.showPreviousDetections = false">
                        <i class="fa fa-archive"></i> Add Previous Detection(s)
                    </button>
		            <div class="row" ng-repeat="detection in idPhotosCtrl.selectedPhoto.detections" style="margin-top:5px">
			            <div class="row" style="padding: 5px 0px">
                            <div class="col-md-3"><label style="margin-left:15px">Species</label></div>
			              <div class="col-md-9">
			                <ui-select id="speciesSelect_{{$index}}" autofocus="true" ng-model="detection.species" 
			                			theme="select2" ng-disabled="disabled" style="width: 97%; margin-left:0px"
			                			on-select="idPhotosCtrl.onSelectSpeciesCallback($item, $model)" >
			                  <ui-select-match placeholder="Select species">{{$select.selected.commonName}} &lt;{{$select.selected.latinName}}&gt;</ui-select-match>
			                  <ui-select-choices repeat="species in idPhotosCtrl.speciesList | propsFilter: {commonName: $select.search, latinName: $select.search}">
			                    <div ng-bind-html="species.commonName | highlight: $select.search"></div>
			                    <small>
			                      commonName: {{species.commonName}}
			                      latinName: <span ng-bind-html="''+species.latinName | highlight: $select.search"></span>
			                    </small>
			                  </ui-select-choices>
			                </ui-select>
			              </div>
			            </div>
		            	<div class="row" style="padding: 5px 0px">
                            <div class="col-md-3"><label style="margin-left:15px">Detail</label></div>
			              <div class="col-md-9">
			                <ui-select id="detectionSelect" ng-model="detection.detectionDetail" 
			                			theme="select2" ng-disabled="disabled" style="width: 97%; margin-left:0px">
			                  <ui-select-match placeholder="Select detection details">{{$select.selected.detailText}}</ui-select-match>
			                  <ui-select-choices repeat="detectionDetail in detection.species.detectionDetailsList | propsFilter: {detailText: $select.search}">
			                    <div ng-bind-html="detectionDetail.detailText | highlight: $select.search"></div>
			                  </ui-select-choices>
			                </ui-select>
			              </div>
			            </div>
		            	<div class="row" style="padding: 5px 0px">
                            <div class="col-md-3"><label style="margin-left:15px">Individuals</label></div>
			              <div class="col-md-9">
							<input type="number" style="width: 97%; margin-left:0px" name="individuals" ng-model="detection.individuals" min="0" max="99" required>
			              </div>
			            </div>
		            	<div class="row" style="padding: 5px 0px">
                            <div class="col-md-3"><label style="margin-left:15px">Comments</label></div>
			              <div class="col-md-9">
			                <input type="textarea" style="width: 97%; margin-left:0px" name="comments" ng-model="detection.comments" ng-trim="false">
			              </div>
			            </div>
		            	<div class="row" style="padding: 5px 7px">
			              <div class="col-md-12" style="margin-top:-5px">
							  <div class="pull-right">
								  <span ng-show="detection.id && detection.id > 0"><i
										  class="fa fa-tag"></i> Saved</span>
								<button class="btn btn-primary" ng-click="idPhotosCtrl.saveSelectedPhoto()"><i class="fa fa-save"></i></button>
								<button class="btn btn-danger" mwl-confirm data-title="Confirm" message="Are you <b>sure</b> you want to delete this detection?"
								        placement="top" on-confirm="idPhotosCtrl.removeDetection(detection)" confirm-button-type="danger"
						                cancel-button-type="default">
						        	<i class="fa fa-trash-o"></i>
						        </button>
						    </div>
			              </div>
			            </div>
		            </div>
                    <!-- Preview view of last used detections -->
                    <div class="row dimmed" ng-repeat="detection in idPhotosCtrl.previousDetections"
                         style="margin-top:5px"
                         ng-show="idPhotosCtrl.showPreviousDetections">
                        <div class="row" style="padding: 5px 0px">
                            <div class="col-md-3"><label style="margin-left:15px">Species</label></div>
                            <div class="col-md-9">
                                <ui-select id="speciesSelect_{{$index}}" ng-model="detection.species"
                                           theme="select2" ng-disabled="disabled" style="width: 97%; margin-left:0px"
                                           on-select="idPhotosCtrl.onSelectSpeciesCallback($item, $model)">
                                    <ui-select-match placeholder="Select species">{{$select.selected.commonName}} &lt;{{$select.selected.latinName}}&gt;</ui-select-match>
                                    <ui-select-choices
                                            repeat="species in idPhotosCtrl.speciesList | propsFilter: {commonName: $select.search, latinName: $select.search}">
                                        <div ng-bind-html="species.commonName | highlight: $select.search"></div>
                                        <small>
                                            commonName: {{species.commonName}}
                                            latinName: <span
                                                ng-bind-html="''+species.latinName | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px 0px">
                            <div class="col-md-3"><label style="margin-left:15px">Detail</label></div>
                            <div class="col-md-9">
                                <ui-select id="detectionSelect" ng-model="detection.detectionDetail"
                                           theme="select2" ng-disabled="disabled" style="width: 97%; margin-left:0px">
                                    <ui-select-match placeholder="Select detection details">
                                        {{$select.selected.detailText}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="detectionDetail in detection.species.detectionDetailsList | propsFilter: {detailText: $select.search}">
                                        <div ng-bind-html="detectionDetail.detailText | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px 0px">
                            <div class="col-md-3"><label style="margin-left:15px">Individuals</label></div>
                            <div class="col-md-9">
                                <input type="number" style="width: 97%; margin-left:0px" name="individuals"
                                       ng-model="detection.individuals" min="0" max="99" required>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px 0px">
                            <div class="col-md-3"><label style="margin-left:15px">Comments</label></div>
                            <div class="col-md-9">
                                <input type="textarea" style="width: 97%; margin-left:0px" name="comments"
                                       ng-model="detection.comments" ng-trim="false">
                            </div>
                        </div>
                    </div>
                    <!--/Preview view of last used detections -->
	            	<div class="row" style="padding: 5px 7px">
	          			<button class="btn btn-default pull-right" ng-click="idPhotosCtrl.addDetection()" ng-show="idPhotosCtrl.photos.length"><i class="fa fa-plus-square-o"></i> Add Detection</button>
	            	</div>
		      </div>
		    </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->