<div class="login-box">

    <div class="login-box-body">

        <div class="login-logo">
            <img src="/img/ccc-logo-108.png">
        </div>

        <p class="login-box-msg">Sign in to your account</p>

        <form name="loginForm" ng-submit="login.submit()">

            <div class="form-group" ng-show="login.invalidLogin">
                <div class="alert alert-danger">
                    <p ng-hide="login.requireTwoFactor">
                        Invalid email or password!
                    </p>
                    <p ng-show="login.requireTwoFactor">
                        Invalid token!
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" ng-model="login.credentials.email"
                       ng-disabled="login.requireTwoFactor" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" ng-hide="login.requireTwoFactor">
                <input type="password" class="form-control" placeholder="Password" ng-model="login.credentials.password"
                       ng-disabled="login.requireTwoFactor" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div ng-show="login.requireTwoFactor">
                <div class="form-group">
                    <div class="alert alert-dark">
                        <p>
                            2FA token required
                        </p>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control text-center" placeholder="Two-factor token"
                           ng-model="login.credentials.validationCode">
                    <span class="fa fa-refresh form-control-feedback"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <!--<div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>-->
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="loginForm.$invalid">
                        Sign In
                    </button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="#">I forgot my password</a><br>
        <a ui-sref="register" class="text-center">Create an account</a>

    </div>
    <!-- /.login-box-body -->
</div><!-- /.login-box -->