.frame {
    height: 49px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
	background: rgba(52,40,62,.9);
}
.frame a {
    color: #fff;
}
.frame .brand {
    font-size: 20px;
    line-height: 49px;
    display: inline-block;
    padding-left: 10px;
}
.frame .brand small {
    font-size: 14px;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.text-muted {
    color: #999;
}
.login-page, .register-page {
	background: url('/ccc/img/ccc-background.jpg') no-repeat;
	background-size: cover;
	min-height: 100%;
}
.login-box-body, .register-box-body {
	background: rgba(52,40,62,.9);
}
.login-box-msg, .register-box-msg {
	color: white;
	font-weight: bold;
	font-size: 1.1em;
}